main{
    h1 {
        font-family: $tipografiaTitulos;
        text-align: center;
        font-size: 30px;
    }
    #contenedorProductos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}