header {
    .navbar{
        background: black;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo img{
            width: 6rem;
            margin: 15px;
            border-radius: 100%;
            margin-top: 0px;
        }
        .contenido a{
            margin: 50px;
            color: #D4AF37;
            position: relative;
            text-decoration: none;
        }
    }
    .contenedorCarrito {
        color: white;
        margin: 0;
        background-color: $colorPrincipal;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
    }
    .contenido a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: #D4AF37;
        transition: all 0.5s;
    }
    .contenido a:hover::before{
        width: 100%;
    }
    
    .elementos{
        display: none;
    }
}