@media only screen and (max-width: 667px) {
    main {
        section {
            h1 {
                font-size: 20px;
            }
            p {
                font-family: 'Times New Roman', Times, serif;
                text-align: justify;
                padding: 0.5rem 1rem;
            }
            .formularioContacto {
                padding: 1rem 5rem;
                gap: 15px;
                display: grid;
            }
            .inputEnviar {
                margin: 0 auto;
                width: 200px;
                background-color: $colorSecundario;
                padding: 1rem;
                border: none;
                color: white;
                border-radius: 10px;
            }
        }
    }
}