@media (min-width:600px){
    .galleryContainer{
        grid-template-columns: repeat(4, 1fr);
    }
    .galleryItem:nth-child(5){
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(1){
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(6){
        grid-row-start: span 2;
    }
}

@media (min-width:1024px){
    .galleryContainer{
        grid-template-columns: repeat(5, 1fr);
        width: 90%;
        margin: auto;
    }
    .galleryItem:nth-child(3){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(8){
        grid-row-start: span 2;
    }
    .galleryItem:nth-child(6){
        grid-row-start: span 2;
    }
}
