@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background-color: rgb(240, 235, 235);
}

main section p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 1rem 5rem;
}
main section h2 {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0626f0;
  padding-left: 5rem;
}

header .navbar {
  background: black;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo img {
  width: 6rem;
  margin: 15px;
  border-radius: 100%;
  margin-top: 0px;
}
header .navbar .contenido a {
  margin: 50px;
  color: #D4AF37;
  position: relative;
  text-decoration: none;
}
header .contenedorCarrito {
  color: white;
  margin: 0;
  background-color: #D4AF37;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
header .contenido a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #D4AF37;
  transition: all 0.5s;
}
header .contenido a:hover::before {
  width: 100%;
}
header .elementos {
  display: none;
}

main section .formularioContacto {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2rem 25rem;
  gap: 10px;
  display: grid;
}
main section .formularioContacto .inputEnviar {
  margin: 0 auto;
  width: 200px;
  background-color: black;
  padding: 1rem;
  border: none;
  color: white;
  border-radius: 10px;
}
main section .formularioContacto .inputEnviar:hover {
  background-color: #0626f0;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.galleryItem {
  position: relative;
}

.galleryImag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryTitle {
  position: absolute;
  bottom: 0;
  color: #D4AF37;
  background: linear-gradient(white, black);
  width: 100%;
  margin: 0;
  padding: 2px;
}

.galleryItem:nth-child(4) {
  grid-row-start: span 2;
}

.galleryItem:nth-child(2) {
  grid-row-start: span 2;
}

.galleryItem:nth-child(1) {
  grid-column-start: span 2;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#boton-carrito {
  border: none;
  color: #D4AF37;
  font-size: 25px;
  background-color: black;
  border-radius: 100%;
  padding: 10px 20px;
  transition: all 0.3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: #D4AF37;
  background-color: #0626f0;
}

#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 2rem;
  justify-content: space-between;
}

p {
  line-height: 2;
}

.producto {
  max-width: 150%;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 4px 7px 3px 5px rgba(0, 0, 0, 0.3);
}
.producto img {
  height: 300px;
}
.producto h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.precioProducto {
  font-weight: 650;
  color: #D4AF37;
}

.boton-agregar {
  background-color: #0626f0;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 4px;
  border: none;
}

.boton-agregar:hover {
  cursor: pointer;
}

.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: black;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: #0626f0;
  padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #0626f0;
  border: none;
  background-color: #0626f0;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.productoEnCarrito:hover {
  border-left: 5px solid #0626f0;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

@media only screen and (max-width: 667px) {
  body {
    background-image: url("/imagenes/inicio/fondo4.png");
    background-size: cover;
  }
  main h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 650;
    padding-top: 2rem;
  }
  main #contenedor-productos {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 1rem 1rem;
    justify-content: space-between;
  }
  main .producto {
    width: 220px;
    height: 400px;
    margin-right: 150px;
    margin-left: 10px;
    margin-bottom: 1px;
  }
  main .producto img {
    height: 270px;
    position: sticky;
  }
  main .producto h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
  }
  main .producto .precioProducto {
    font-weight: 550;
  }
}
@media (min-width: 667px) {
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .galleryItem:nth-child(5) {
    grid-row-start: span 2;
  }
  .galleryItem:nth-child(1) {
    grid-row-start: span 2;
  }
  .galleryItem:nth-child(6) {
    grid-row-start: span 2;
  }
}
@media (min-width: 1024px) {
  .galleryContainer {
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
  }
  .galleryItem:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .galleryItem:nth-child(8) {
    grid-row-start: span 2;
  }
  .galleryItem:nth-child(6) {
    grid-row-start: span 2;
  }
}
@media (max-width: 667px) {
  header .contenido {
    position: absolute;
    top: 105px;
    left: 0;
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
    transition: 300ms ease all;
  }
  header .contenido {
    text-align: center;
  }
  header .elementos {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  header .elementos span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 300ms linear;
  }
  header .close span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  header .close span:nth-child(2) {
    display: none;
  }
  header .close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  header .open {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 667px) {
  main section h1 {
    font-size: 20px;
  }
  main section p {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    padding: 0.5rem 1rem;
  }
  main section .formularioContacto {
    padding: 1rem 5rem;
    gap: 15px;
    display: grid;
  }
  main section .inputEnviar {
    margin: 0 auto;
    width: 200px;
    background-color: black;
    padding: 1rem;
    border: none;
    color: white;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
